@use "typo";
@use "responsive" as *;
@use "sass:map";

main {
	min-height: 80vh;
	@include typo.body1-normal;
}

.container {
	padding: 1.5rem;
	
	@media screen and (max-width: map.get($breakpoints, tablet)) {
		padding: 1rem;
	}
}
.container.center {
    max-width: 1460px;
    margin: 0 auto;
}

.container > #title {
	@include typo.title3;
}