<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include('./temp/head.html') %>
    <title>메인페이지 - 프로젝트</title>
</head>
<body class="sidebar before-sidebar-calc">
    <!-- Elements -->
    <%- include('./temp/elements.html') %>

    <!-- Header -->
    <%- include('./temp/header.html') %>

    <!-- Sidebar -->
    <%- include('./temp/sidebar.html') %>


    <main>
		<div class="container">
			<div id="title">섹션 제목</div>
			
			<div>여기에</div>
			<div>컴포넌트</div>
			<div>와르르</div>
		</div>
    </main>


    <!-- Footer -->
    <%- include('./temp/footer.html') %>
    
</body>
</html>