@use "../designSystem/typo";

/* Header */
#header{
	position: fixed;
	top: 0;
	width: 100vw;
	overflow: hidden;
	height: 2.8rem;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E2E8F0;
	z-index: 10;
}


#header > .logo{
	display: inline-block;
	margin: 0.7rem 0 0 0.7rem;
}
#header > .logo > img{
	height: 1.5rem;
}


#header > #createAccount{
	@include typo.label1;
    float: right;
	margin: 0.4rem 0.3rem 0 0;
	display: none;
}

#header > #login{
	@include typo.label1;
    float: right;
    margin: 0.4rem 1.6rem 0 0;
    display: none;
}

#header > #login > i{
	font-size: 0.9rem;
	position: relative;
	top: 0.1rem;
	margin-right: 0.1rem;
}


#header > #menu-toggle{
	display: none;
	float: right;
	font-size: 1.2rem;
	margin: 0.3rem 1.5rem 0 0;
	padding: 0.5rem;
}


#spacer{
	height: 2.8rem;
	width: 100%;
}


#menu{
	position: fixed;
	right: 1.1rem;
	top: 2.5rem;
	background-color: #FFF;
	border-radius: 0.5rem;
	border: 1px solid #333333;
	padding: 0.5rem;
	cursor: default;
	user-select: none;
	z-index: 10;
	display: none;
}

#menu > #nickname{
	padding: 0.5rem 0.7rem;
	border-bottom: 1px solid #c9c9c9;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

#menu > ul{
	margin: 0;
	padding: 0;
}

#menu > ul > li{
	list-style: none;
	padding-left: 0;
}

#menu a{
	border: none;
	padding: 0.3rem 0.5rem;
	border-radius: 0.5rem;
	display: block;
}
#menu a:hover{
	color: inherit !important;
	background-color: #c9c9c9;
}

#menu a > i{
	margin-right: 0.37rem;
}

#menu > #logoutSection{
	border-top: 1px solid #c9c9c9;
	margin-top: 0.5rem;
	padding: 0.5rem 0 0 0;
}



@media screen and (max-width: 736px) {
	#header > .logo{
		margin: 0.7rem 0 0 0.77rem;
	}

	#header > #createAccount{
		margin: 0.35rem 0.1rem 0 0;
	}

	#header > #login{
		margin: 0.35rem 0.5rem 0 0;
	}

	#header > #menu-toggle{
		margin: 0.35rem 0.5rem 0 0;
	}

	#menu{
		top: 2.5rem;
		right: 0.6rem;
	}
}