<footer id="footer">
    <div class="inner">
        <ul class="copyright">
            서비스에 관련된 내용<br>
            블라블라블라~~
        </ul>

        <ul class="copyright">
            <li><a target="_blank" href="">이용 약관</a></li>
            <li><a target="_blank" href="">판매 약관</a></li>
            <li><a target="_blank" href="">개인정보 처리방침</a></li>
        </ul>

        <ul class="copyright">
            회사명<br>
            사업자 등록번호: 000-00-00000 <li>통신판매업 신고번호: 제0000-가가가가-0000</li> <li>대표: 가가가</li><br>
            서울 뉴욕시 오사카 로로로12 주소주소 <li>문의 메일: support@example.com</li><br>
        </ul>
    </div>
</footer>

<link rel="stylesheet" href="/css/temp/footer.css">
<script src="/js/temp/footer.js"></script>