<header id="header">
	<!-- Logo -->
	<a href="/" class="logo">
		<img src="/img/logo.png" alt="" />
	</a>

	<!-- Nav -->
	<a id="login" href="">
        <i class="fa-solid fa-lock"></i>
		로그인
	</a>

	<img id="profile">
</header>

<div id="spacer"></div>


<nav id="menu">
    <div id="nickname">[Pending]</div>

    <ul>
        <li><a href=""><i class="fa-regular fa-credit-card fa-fw"></i> Menu1</a></li>
        <li><a href=""><i class="fa-solid fa-clapperboard fa-fw"></i> Menu2</a></li>
        <li><a href=""><i class="fa-solid fa-gear fa-fw"></i> Menu3</a></li>
    </ul>

    <div id="logoutSection">
        <a href="javascript:upBarLogin.logout()"><i class="fa-solid fa-right-from-bracket fa-fw"></i> 로그아웃</a>
    </div>
</nav>


<link rel="stylesheet" href="/css/temp/header.css">
<script src="/js/temp/header.js"></script>