<div id="sidebar">
    <div id="control">
        <i class="fa-solid fa-angles-left"></i>
    </div>

    <div id="quickLink">
        <a class="linkBox" target="_blank" href="">
            <i class="fa-solid fa-book-bookmark fa-fw"></i> 이용 안내
        </a>
    </div>

    <div>
        <div class="title">
            <i class="fa-solid fa-layer-group fa-fw"></i> 메뉴 그룹
        </div>

        <a class="linkBox" href="">
            <i class="fa-solid fa-cookie-bite fa-fw"></i> 메뉴 1
        </a>

        <a class="linkBox" href="">
            <i class="fa-solid fa-cookie-bite fa-fw"></i> 메뉴 2
        </a>

        <a class="linkBox" href="">
            <i class="fa-solid fa-cookie-bite fa-fw"></i> 메뉴 3
        </a>

        <div class="title"></div>

        <a class="linkBox" href="">
            <i class="fa-solid fa-cookie-bite fa-fw"></i> 메뉴 4
        </a>
    </div>
    

</div>

<link rel="stylesheet" href="/css/temp/sidebar.css" />
<script src="/js/temp/sidebar.js"></script>